---
import { ChevronLeft } from "@geist-ui/icons";
import { getCollection } from "astro:content";
import BasicLayout from "../../layouts/Basic.astro";
import Navbar from "../../components/Navbar";
import Article from '../../components/Article';
import Footer from "../../components/Footer";
import NavbarLink from "../../components/NavbarLink";

export const prerender = true;

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BasicLayout title={entry.data.title} frontmatter={entry.data}>
  <Navbar client:only="react"/>
  <div class="py-4">
    <div class="container">
      <NavbarLink client:only="react" href="/blog" target="">
        <span class="flex flex-row items-center text-xs">
          <ChevronLeft className="inline pr-1"/>
          Back to Blog
        </span>
      </NavbarLink>
      <div class="mt-8">
        <Article>
          <Content />
        </Article>
      </div>
    </div>
    <Footer client:only="react">
      <NavbarLink client:only="react" href="/blog" target="">
        <span class="flex flex-row items-center">
          <ChevronLeft className="inline pr-2"/>
          Back to Blog
        </span>
      </NavbarLink>
    </Footer>
  </div>
</BasicLayout>
