---
import { getCollection } from 'astro:content';
import BasicLayout from '../../layouts/Basic.astro';
import PostContent from '../../components/PostContent';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
// const { Content } = await entry.render();
---

<BasicLayout title={entry}>
    <div class="flex min-h-screen flex-col py-4">
        <div class="container">
            <div class="prose">
                <PostContent post={entry} />
            </div>
        </div>
    </div>
</BasicLayout>