---
import { getCollection } from "astro:content";
import { motion } from "framer-motion";
import { ChevronRight } from "@geist-ui/icons";
import BasicLayout from "../../layouts/Basic.astro";
import Navbar from "../../components/Navbar";

const posts = await getCollection("posts");
posts.sort(
  (a, b) =>
    new Date(b.data.timestamp).getTime() - new Date(a.data.timestamp).getTime()
);
---

<BasicLayout title="Blog">
  <Navbar client:only="react" />
  <div class="container">
    <div class="mt-4 text-2xl font-bold">Blog</div>
    <div class="mt-4 flex flex-col gap-6">
      {
        posts.map((post: any, index: number) => (
          <motion.a
            client:only="react"
            href={`/blog/${post.slug}`}
            initial={{ opacity: 0, y: 50 }}
            animate={{ opacity: 1, y: 0 }}
            transition={{
              delay: index * 0.2,
              duration: 0.5,
              type: "spring",
              stiffness: 100,
              damping: 20,
            }}
            key={post.slug}
          >
            <article>
              <div class="text-xs">
                {post.data.timestamp.toLocaleDateString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}
              </div>
              <div class="mt-1 text-xl font-bold tracking-tight">
                {post.data.title}
              </div>
              <div class="text-sm">{post.data.description}</div>
              <div class="mt-2 text-sm text-blue-500">
                <span class="flex flex-row items-center">
                  <span class="hover:underline">Read more</span>
                  <ChevronRight className="inline pr-2" />
                </span>
              </div>
            </article>
          </motion.a>
        ))
      }
    </div>
  </div>
</BasicLayout>
