---
import { getCollection } from "astro:content";
import BasicLayout from "../../layouts/Basic.astro";

const posts = await getCollection("posts");
---

<BasicLayout>
    <div>Blog</div>
        {posts.map((post: any) => (
            <div>
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </div>
        ))}
</BasicLayout>