---
import { getCollection } from "astro:content";
import BasicLayout from "../../layouts/Basic.astro";

const posts = await getCollection("posts");
---

<BasicLayout>
    <div class="container">
        <div>Blog</div>
        {posts.map((post: any) => (
            <div>
                <a href={`/blog/${post.slug}`} class="text-xl">{post.data.title}</a>
                <div class="text-xs">{post.data.timestamp}</div>
            </div>
        ))}
    </div>
</BasicLayout>