---
import BasicLayout from "../layouts/Basic.astro";
import Hero from "../components/Hero";
import { Github, Paperclip, Linkedin } from "@geist-ui/icons";
---

<BasicLayout>
  <Hero client:only="react" />

  <div class="bg-black py-4 text-slate-100">
    <div class="container">
      <h1 class="text-6xl font-bold tracking-tight">George Butler</h1>
      <h2 class="mt-3 text-2xl font-medium tracking-tight">
        Computer Graphics Engineer
      </h2>
      <p class="mt-3 max-w-xs leading-normal">
        I build immersive, unique, and accessible digital experiences.
      </p>
      <div class="mt-3 flex flex-row gap-4">
        <a href="https://github.com" target="_blank" class="inline-block">
          <Github />
        </a>
        <a href="https://linkedin.com" target="_blank" class="inline-block">
          <Linkedin />
        </a>
        <a href="https://linkedin.com" target="_blank" class="inline-block">
          <Paperclip />
        </a>
      </div>
    </div>
  </div>

  <div class="py-4">
    <div class="container">
      <h2 class="pb-4 text-sm font-bold uppercase tracking-widest">About</h2>
      <p class="pb-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et cumque, id
        numquam repellat ullam magnam laboriosam. A tempora itaque ipsa
        voluptate eveniet corporis maxime fugiat quibusdam! Ratione inventore
        magni iste!
      </p>
      <p class="pb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minima
        inventore, repudiandae excepturi exercitationem fugiat eum? Rem sunt
        odio harum et perspiciatis totam quam. Suscipit eum impedit consequatur
        minima perferendis.
      </p>
    </div>
  </div>

  <div class="py-4">
    <div class="container">
      <div class="flex flex-col items-center gap-2">
        <p class="max-w-xs leading-normal">
          Copyright &copy; 2024 George Butler.
        </p>
        <div class="flex flex-row gap-4">
          <a href="https://github.com" target="_blank" class="inline-block">
            <Github />
          </a>
          <a href="https://linkedin.com" target="_blank" class="inline-block">
            <Linkedin />
          </a>
          <a href="https://linkedin.com" target="_blank" class="inline-block">
            <Paperclip />
          </a>
        </div>
      </div>
    </div>
  </div>
</BasicLayout>
