---
import { getCollection } from "astro:content";
import { motion } from "framer-motion";
import BasicLayout from "../../layouts/Basic.astro";
import Navbar from "../../components/Navbar";

const posts = await getCollection("posts");
---

<BasicLayout title="Experiments">
  <Navbar client:only="react" />
  <div class="container flex-grow">
    <div class="mt-4 text-2xl font-bold">Experiments</div>
  </div>
</BasicLayout>
