---
import "@fontsource/inter";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        Astro.props.title
          ? `${Astro.props.title} - George Butler`
          : "George Butler"
      }
    </title>
  </head>
  <body class="leading-relaxed antialiased text-slate-900 bg-white">
    <main>
        <slot />
    </main>
  </body>
</html>
